body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.keyboard {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
}

.calculator {
  display: flex;
  flex-direction: column;
}

.operation-col {
  display: flex;
  flex-direction: column;
}

.number-pad {
  display: flex;
  flex-direction: column;
}

.content-screen {
  background: white;
  border: 1px solid orange;
  float: left;
  font-size: medium;
  font-weight: bold;
  color: orange;
  text-align: center;
  height: 30px;
  width: 118px;
}

.button-key {
  background: white;
  border: 1px solid orange;
  float: left;
  font-size: medium;
  font-weight: bold;
  line-height: middle;
  color: orange;
  height: 40px;
  width: 30px;
}

.keyboard-row:after {
  clear: both;
  display: table;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
